:root {
  --primary-color: #fff;
  --primary-color2: #BFBFBF;
  --primary-black-color1: #252525;
  --primary-black-color2: #4B4B4B;
  --primary-input-background-color: #F9F8FA;
  --primary-button-background-color: #607AFB;
  --primary-active-color: #FFA500;
  --secondary-active-color: #00ff00;
  --primary-background-color: #191919;
  --secondary-background-color: #272727;
}